:root {
   --color-very-dark-grayish-blue: hsl(217, 19%, 35%);
   --color-desaturated-dark-blue: hsl(214, 17%, 51%);
   --color-grayish-blue: hsl(212, 23%, 69%);
   --color-light-grayish-blue: hsl(210, 46%, 95%);
}

*,
*::before,
*::after {
    margin : 0;
	padding : 0;
	box-sizing : border-box;
}

html {
	font-size : 50%;
	box-sizing : border-box;
}

@media only screen and (max-width : 400px) {
	html {
		font-size : 59%;
	}
}

body {
	width : 100vw;
	height : auto;
	overflow-x : hidden;
	background : var(--color-light-grayish-blue);
}

@media only screen and (max-width : 900px) {
	body {
		height : auto;
		display : flex;
		justify-content : center;
		padding : 8rem 0;
		overflow-x : hidden;
	}
}

.container {
	width : 100%;
	height : 100vh;
	display : flex;
	justify-content : center;
	align-items : center;
}

@media only screen and (max-width : 900px) {
	.container {
		width : 92.5%;
		height : auto;
	}
}

.card {
	width : 75rem;
	border-radius : 1rem;
	display : flex;
	flex-flow : row wrap;
	background : white;
	box-shadow : .5rem .5rem 2rem hsl(212, 25%, 69%);
	transition : all .7s;
}

@media only screen and (max-width : 900px) {
	.card {
		min-width : 30rem;
		height : auto;
		width : 100%;
		max-width : 40rem;
	}
}

.card__img-container {
	width : 40%;
	height : auto;
	overflow : hidden;
}

.card__img {
	border-radius : 1rem;
	width : 120%;
	height : 100%;
}

@media only screen and (max-width : 900px) {
    .card__img-container {
    	width : 100%;
		max-height : 25rem;
    	height : auto;
    }
	.card__img {
		width : 100%;
		height : 120%;
	}
}

.card__content {
	width : 60%;
	padding-top : 4rem;
	padding-bottom : 1.5rem;
}

@media only screen and (max-width : 900px) {
    .card__content {
    	width : 100%;
    	height : auto;
		padding-bottom : 0;
    }
}

.card__content p {
	letter-spacing : .05rem;
	word-spacing : .06rem;
	font-family: 'Manrope', sans-serif;
}

.card__content p:nth-child(1) {
	font-size : 2.1rem;
	color : var(--color-very-dark-grayish-blue);
	font-weight : 700;
	margin : 0 3rem 1.7rem;
}

.card__content p:nth-child(2) {
	font-size : 1.7rem;
	color : var(--color-desaturated-dark-blue);
	margin : 0 3rem 3rem;
	font-weight : 500;
}

@media only screen and (max-width : 900px) {
	.card__content p {
		letter-spacing : 0;
		word-spacing : 0;
	}
}

.card__owner {
	height : calc(4.5rem + 3rem);
	width : 100%;
	position : relative;
	padding : 1.8rem 3rem;
	border-radius : 0 0 1rem 1rem; 
}

.owner__img {
	width : 4.4rem;
	float : left;
	border-radius : 50%;
}

.card__owner h2 {
	width : auto;
	font-family: 'Manrope', sans-serif;
	font-size : 1.8rem;
	margin-left : calc(4.4rem + 2rem);
	color : var(--color-very-dark-grayish-blue);
}

.card__owner h2 span {
	font-weight : 500;
	font-size : 1.6rem;
	color : var(--color-desaturated-dark-blue);
}

.share-btn {
	position : absolute;
	padding : 1rem 1.25rem;
	top : 1.7rem;
	right : 3rem;
	border : none;
	font-size : 2.2rem;
	border-radius : 50%;
	z-index : 2;
	color : var(--color-very-dark-grayish-blue);
	background-color : var(--color-light-grayish-blue);
}

@media only screen and (max-width : 900px) {
	.card__owner .share-btn {
		top : 1.85rem;
		padding : .9rem 1rem;
		font-size : 1.8rem;
	}
}

.share-media-wrapper {
	display : flex;
	opacity : 0;
	height : 75%;
	justify-content : center;
	align-items : center;
	width : auto;
	border-radius : 1rem;
	padding : 0 3rem;
    background : var(--color-very-dark-grayish-blue);
	position : absolute;
	top : -6rem;
	right : -8.82rem;
	transition : opacity 1s;
}

.share-media-wrapper::after {
	content : "";
	position : absolute;
	top : 100%;
	border-width : 1.2rem;
	border-style : solid;
	border-color : var(--color-very-dark-grayish-blue) transparent transparent transparent;
}

@media only screen and (max-width : 900px) {
	.share-media-wrapper {
	   display : flex;
	   width : 100%;
	   height : 100%;
	   position : absolute;
	   top : 0;
	   left : 0;
	   justify-content : left;
	   border-radius : 0 0 1rem 1rem;
	   opacity : 0;
	   transition : none;
    }
	.share-media-wrapper::after {
	   content : none;
    }
}

.card__owner .share-text {
	font-size : 1.6rem;
	text-transform : uppercase;
	letter-spacing : .8rem;
	font-family : 'Manrope', sans-serif;
	color : white;
}

.share-media-icon {
	height : 2.5rem;
	width : 10rem;
	margin-left : 2rem;
	background : url("../images/icon-facebook.svg"), url("../images/icon-twitter.svg"), url("../images/icon-pinterest.svg");
	background-repeat : no-repeat;
	background-position : left center, center center, right center;
}


/* toggle jQuery class */

.color-change { color : white; }
.bg-change { background-color : var(--color-desaturated-dark-blue); }

.hover-class {
	opacity : 1;
}

.attribution { 
   position : relative;
   top : -5vh;
   font-size: 11px; 
   text-align: center; 
}

@media only screen and (max-width : 900px) {
	.attribution {
	   display : none;
	}
}
.attribution a { color: hsl(228, 45%, 44%); }
