@keyframes fadeIn {
	0% {
		opacity : 0;
	}
	100% {
		opacity : 1;
	}
}

:root {
	
   --color-red: hsl(0, 78%, 62%);
   --color-cyan: hsl(180, 62%, 55%);
   --color-orange: hsl(34, 97%, 64%);
   --color-blue: hsl(212, 86%, 64%);
   --color-very-dark-blue: hsl(234, 12%, 34%);
   --color-grayish-blue: hsl(229, 6%, 66%);
   --color-very-light-Gray: hsl(0, 0%, 98%);
}

html {
    font-size : 50%;
	box-sizing : border-box;
}

*,
*::before,
*::after {
	margin : 0;
	padding : 0;
	box-sizing : border-box;
}

body {
	height : auto;
	width : 100vw;
	padding : 6rem 5rem 0;
	font-size : 2rem;
    font-family: 'Poppins', sans-serif;
	display : flex;
	flex-flow : row wrap;
	justify-content : center;
	overflow-x : hidden;
}
@media only screen and (min-width : 600px) {
    body {
		padding-top : 8rem; 
	}
}
@media only screen and (min-width : 900px) {
    body {
		padding-top : 8rem; 
	}
}

.header {
	width : 100%;
	display : flex;
	flex-flow : row wrap;
	justify-content : center;
}

.main-heading {
	width : 100%;
	text-align : center;
	font-size : 2.6rem;
    font-family : 'Poppins', sans-serif;
	color : var(--color-very-dark-blue);
}

.main-heading:nth-child(1) { font-weight : 200; }
.main-heading:nth-child(2) { margin-bottom : 1.8rem; }

.sub-heading {
	width : 100%;
	max-width : 43rem;
	text-align : center;
	font-size : 1.5rem;
    font-family: 'Poppins', sans-serif;
	margin-bottom : 8rem;
	color : var(--color-grayish-blue);
	animation : fadeIn 1s;
}
@media only screen and (min-width : 600px) {
	.sub-heading {
		max-width : 58rem;
	}
}
.card-container {
	width : 100%;
	max-width : 50rem;
	display : flex;
	flex-flow : row wrap;
	justify-content : center;
}
@media only screen and (min-width : 600px) {
	.card-container {
		max-width : 70rem;
	}
}
@media only screen and (min-width : 900px) {
	.card-container {
		max-width : 100rem;
	}
}

.card {
	height : 22rem;
	width : 26rem;
	padding : 2.5rem 3.5rem;
	border-radius : 5px;
	margin : 0 0 4rem;
	box-shadow : 1rem 1rem 40px -2.5rem var(--color-blue);
}
.card-wrapper:nth-child(1) .card { 
    border-top : 4px solid var(--color-cyan);
	background : url("../images/icon-supervisor.svg");
	background-repeat : no-repeat;
	background-position : calc(100% - 3.5rem) calc(100% - 2.9rem);
	background-size : 25%;
}
.card-wrapper:nth-child(2) .card {
	border-top : 4px solid var(--color-red);
	background : url("../images/icon-team-builder.svg");
	background-repeat : no-repeat;
	background-position : calc(100% - 3.5rem) calc(100% - 2.9rem);
	background-size : 25%;
}
.card-wrapper:nth-child(3) .card { 
    border-top : 4px solid var(--color-orange);
	background : url("../images/icon-karma.svg");
	background-repeat : no-repeat;
	background-position : calc(100% - 3.5rem) calc(100% - 2.9rem);
	background-size : 25%;
}
.card-wrapper:nth-child(4) .card { 
    border-top : 4px solid var(--color-blue);
	background : url("../images/icon-calculator.svg");
	background-repeat : no-repeat;
	background-position : calc(100% - 3.5rem) calc(100% - 2.9rem);
	background-size : 25%;
}
@media only screen and (min-width : 600px) {
	.card-wrapper:nth-child(odd) .card {
	    margin-right : 3.5rem;
    }
}

@media only screen and (min-width : 900px) {
	.card-wrapper:nth-child(4) {
		order : 3;
	}
	.card-wrapper:nth-child(3) {
		order : 4;
	}
	.card-wrapper:nth-child(4) .card {
		margin-left : 3.5rem;
	}
	.card-wrapper:nth-child(3) .card {
		margin-left : 3.5rem;
	}
	.card-wrapper:nth-child(1), .card-wrapper:nth-child(4) {
		position : relative;
		top : 25%;
	}
}

.card__heading {
	font-size : 2rem;
	color : var(--color-very-dark-blue);
}

.card__text {
	font-size : 1.1rem;
	color : var(--color-grayish-blue);
}

.card-wrapper {	
}
.card-wrapper:hover {
	transform : translateY(-6.5%);
}

footer { 
    width : 100%; 
    display : flex;
	justify-content : center;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }