:root {
   --color-dark-blue: hsl(240, 38%, 20%);
   --color-greyish-blue: hsl(240, 18%, 77%);
}

@keyframes floatingImg {
	0% {
		transform : translate(0) rotate(-0.5deg);
	}
	50% {
		transform : translateY(-0.5rem) rotate(1deg);
	}
	100% {
		transform : translate(0) rotate(-0.5deg);
	}
}

*,
*::after,
*::before {
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

html {
	font-size: 50%;
	box-sizing: border-box;
	font-family : 'Inter', sans-serif;
}

body {
	width : 100vw;
	height : auto;
	font-size : 2rem;
	padding : 8rem 5rem 0;
	overflow-x : hidden;
	position : relative;
	background : url("../images/pattern-bg.svg");
	background-repeat : no-repeat;
    background-position : center 3rem;
	background-size : 85% auto;
	
}

@media only screen and (min-width : 500px) {
	body {
		background-size : 53rem auto;
	}
}

@media only screen and (min-width: 900px) {
	body {
		font-size : 4rem;
		padding : 0;
	    background-size : contain;
	    background-position : calc(100% - 5rem) center;
	}
}

.slider-wrapper {
    height : auto;
	width : auto;
	overflow : hidden;
}	


.slider-wrapper::before {
	content : url("../images/pattern-curve.svg");
	position : absolute;
	width : 100%;
	bottom : 0;
	line-height : 0; 
	letter-spacing : 0;
	transform : translateX(-5rem);
	overflow : hidden;
}

@media only screen and (min-width: 900px) {
    .slider-wrapper {
    	height : 100vh;
		width : 100%;
		display : flex;
		justify-content : center;
		align-items : center;
	    position : relative;
    }
	.slider-wrapper::before {
		left : 0;
		height : auto;
	}
}

.slider {
	width : auto;
	height : auto;
}


@media only screen and (min-width : 900px) {
	.slider {
		height : 80%;
		width : 80%
	}
}

.slider__img-wrapper {
    width : 100%;
    height : auto;
    position : relative;
	display : flex;
	flex-flow : row wrap;
	justify-content : center;
	margin-bottom : 10rem;
}


@media only screen and (min-width: 900px) {
   .slider__img-wrapper {
	   height : 100%;
       max-width : none;
	   width : auto;
	   float : right;
   }	   
}

.slider__img {
	width : 80%;
	max-width : 40rem;
	height : 100%;
	z-index : -1;
	border-radius : 3px;
	box-shadow : 1rem 6rem 40px -2.5rem rgba(32, 32, 70, 0.2);
	animation : floatingImg 4s ease-in-out infinite;
}

@media only screen and (min-width : 900px) {
	.slider__img {
		width : auto;
		max-width : none;
		
	}
}

.slider__btn-group {
	position : absolute;
	top : calc(100% - 2.5rem);
	left : calc(50% - 5rem);
	letter-spacing : -5rem;
	z-index : 1;
	line-height : 0;
	margin : 0;
	outline : 0;	
}

.slider-btn {
	height : 5rem;
	width : 5rem;
	background : white;
}
.slider-btn:nth-child(1) { 
	border-radius : 50% 0 0 50%;
}
.slider-btn:nth-child(2) {
	border-radius : 0 45% 45% 0;
}

@media only screen and (min-width: 900px) {
	.slider__btn-group {
		left : 15%;
	}
	.slider-btn {
		height : auto;
		width : auto;
		padding : 1.8rem 2.5rem;
	}
}

@media only screen and (min-width: 900px) {
	.slider__content-wrapper-lg {
		height : 100%;
		display : flex;
		flex-flow : row wrap;
		align-content : center;
	}
	.slider__img {
		z-index : -1;
	}
	.slider__text {
		width : calc(100% + 10rem);
		z-index : 1;
	}
	
}

.slider__text-wrapper {
	position : relative;
	display : flex;
	justify-content : center;
}

.slider__text-wrapper::before {
	    content : url("../images/pattern-quotes.svg");
    	position : absolute;
	 	top : -6.5rem;
		left : 50%;
		transform : translate(-50%) scale(0.5);
}

@media only screen and (min-width : 900px) {
    .slider__text-wrapper::before {
        position : relative;
	    top : 5rem;
		left : 6rem;
		transform : initial;
    }
	.slider__text-wrapper {
		display : block;
	}
}

.slider__text {
	text-align : center;
	max-width : 80rem;
	margin-bottom : 3rem;
    font-size : 2.3rem;
    font-family : 'Inter', sans-serif;
    font-weight : 300;
    color : var(--color-dark-blue);
}

.slider__heading-wrapper {
	position : relative;
}

.slider__heading {
	height : auto;
	text-align : center;
  	font-family : 'Inter', sans-serif;
  	font-weight : 700;
    font-size : 2rem;
  	color : var(--color-dark-blue);
}

.sub-heading {
	display : block;
	color : var(--color-greyish-blue);
}

@media only screen and (min-width: 900px) {
    .slider__text {
        font-size : 3.1rem;
		text-align : start;
    }
    
    .slider__heading {
		text-align : start;
    	padding-top : 3rem;
    	font-size : 2.3rem;
    }
    
    .sub-heading {
    	display : inline-block;
    	font-weight : 500;
    }
}

@media only screen and (min-width : 1200px) {
	.slider__text {
        font-size : 4rem;
	    line-height : 5.5rem;
	}
	.slider__heading {
		font-size : 2.8rem;
    }
}


.attribution {
  position: absolute;
  color: var(--color-greyish-blue);
  font-size: 11px;
  bottom : 2rem;
  left : 50%;
  transform : translateX(-50%);
  text-align: center;
}

.attribution a {
  color: var(--color-dark-blue);
}

.attribution { display : none; }

@media only screen and (min-width : 900px) {
	.attribution {
		display : block;
	}

}

.slider__img, .slider__text, .slider__heading { display: none; }
.slider__img:nth-child(1) { display: block; }
.slider__text:nth-child(1) { display: block; }
.slider__heading:nth-child(1) { display: block; }

















